### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data['SN'].unique().size
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# obataining number of unique Items, .unique() returns an integer
num_unique_items= purchase_data['Item Name'].nunique()
average_price = "${0:.2f}".format(purchase_data['Price'].mean())
num_of_purchases = purchase_data['Purchase ID'].size
total_revenue = "${0:.2f}".format(purchase_data['Price'].sum())

summary_df = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                          "Average Price":[average_price],
                          "Number of purchases": [num_of_purchases],
                          "Total Revenue":[total_revenue]})
summary_df

   Number of Unique Items Average Price  Number of purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
players_gender = purchase_data.drop_duplicates(subset='SN', keep='first')
players_count= players_gender['Gender'].value_counts()
percent_players = (players_count/total_players) * 100
summary_gender = pd.DataFrame({"Total Count":players_count,
                              "Percent of Players":percent_players.astype(float).map("{:.2f}%".format)
                              })
summary_gender.index.name = 'Gender'
summary_gender

                       Total Count Percent of Players
Gender
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_group = purchase_data.groupby(['Gender'])
Purchase_count = gender_group['Purchase ID'].count()
# Average Purchase Price
average_purchase_price =gender_group['Price'].mean()
total_purchase_value = gender_group['Price'].sum(axis=0)
avg_total_purch_person = purchase_data.groupby(['Gender', 'SN'])['Price'].sum().groupby(['Gender']).mean()

purching_analysis_gender = pd.DataFrame({"Purchase Count":Purchase_count,
                              "Average Purchase Price":average_purchase_price.astype(float).map("${:.2f}".format),
                              "Total Purchase Value":total_purchase_value.astype(float).map("${:.2f}".format),
                              "Avg Total Purchase per Person":avg_total_purch_person.astype(float).map("${:.2f}".format),                                       
                              })
purching_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame