### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data['SN'].unique().size
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# obataining number of unique Items, .unique() returns an integer
num_unique_items= purchase_data['Item Name'].nunique()
average_price = "${0:.2f}".format(purchase_data['Price'].mean())
num_of_purchases = purchase_data['Purchase ID'].size
total_revenue = "${0:.2f}".format(purchase_data['Price'].sum())

summary_df = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                          "Average Price":[average_price],
                          "Number of purchases": [num_of_purchases],
                          "Total Revenue":[total_revenue]})
summary_df

   Number of Unique Items Average Price  Number of purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
players_gender = purchase_data.drop_duplicates(subset='SN', keep='first')
players_count= players_gender['Gender'].value_counts()
percent_players = (players_count/total_players) * 100
summary_gender = pd.DataFrame({"Total Count":players_count,
                              "Percent of Players":percent_players.astype(float).map("{:.2f}%".format)
                              })
summary_gender.index.name = 'Gender'
summary_gender

                       Total Count Percent of Players
Gender
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_group = purchase_data.groupby(['Gender'])
Purchase_count = gender_group['Purchase ID'].count()
# Average Purchase Price
average_purchase_price =gender_group['Price'].mean()
total_purchase_value = gender_group['Price'].sum(axis=0)
avg_total_purch_person = purchase_data.groupby(['Gender', 'SN'])['Price'].sum().groupby(['Gender']).mean()

purching_analysis_gender = pd.DataFrame({"Purchase Count":Purchase_count,
                              "Average Purchase Price":average_purchase_price.astype(float).map("${:.2f}".format),
                              "Total Purchase Value":total_purchase_value.astype(float).map("${:.2f}".format),
                              "Avg Total Purchase per Person":avg_total_purch_person.astype(float).map("${:.2f}".format),                                       
                              })
purching_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0,9,14,19,24,29,34,39,110]
group_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels, include_lowest=True)
age_group = purchase_data.drop_duplicates(subset='SN').groupby('Age Ranges')
players_total_count = age_group['Age'].count()

percentage_players = (players_total_count/sum(players_total_count)) *100

Percentage_players_summary = pd.DataFrame({"Total Count":players_total_count,
                              "Percentage of Players":percentage_players.astype(float).map("{:.2f}%".format),
                              })
Percentage_players_summary

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_group = purchase_data.groupby('Age Ranges')
Purchase_Count = age_group['Age Ranges'].count()
Average_Purchase_Price = age_group['Price'].mean()
Total_Purchase_Value = age_group['Price'].sum()
Avg_Total_Purchase_per_Person =  purchase_data.groupby(['Age Ranges', 'SN'])['Price'].sum().groupby(['Age Ranges']).mean()
analysis_age_ranges = pd.DataFrame({"Purchase Count":Purchase_Count,
                              "Average Purchase Price":Average_Purchase_Price.astype(float).map("${:.2f}".format),
                              "Total Purchase Value":Total_Purchase_Value.astype(float).map("${:.2f}".format),
                              "Avg Total Purchase per Person":Avg_Total_Purchase_per_Person.astype(float).map("${:.2f}".format),                                       
                              })
analysis_age_ranges

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# getting the top 5 spenders
top_spenders = purchase_data.groupby('SN')['Price'].sum().sort_values(ascending=False).head()
top_spenders_df = purchase_data.loc[purchase_data['SN'].isin(top_spenders.index)].groupby('SN')
Purchase_Count = top_spenders_df['Purchase ID'].count()
avg_purchase_price = top_spenders_df['Price'].mean()
top_spenders_analysis = pd.DataFrame({"Purchase Count":Purchase_Count,
                              "Average Purchase Price":avg_purchase_price.astype(float).map("${:.2f}".format),
                              "Total Purchase Value":top_spenders.astype(float).map("${:.2f}".format),                            
                              })
top_spenders_analysis.sort_values(by='Total Purchase Value', ascending=False)

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame